body{background: rgb(34,193,195);
     background: linear-gradient(0deg,
     rgba(34,193,195,1) 0%,
     rgba(253,187,45,1) 100%);
     min-height: 100vh}
.updiv{height: 0vw;}
.parent{display: flex;
        position: relative;
        height:80vh;
        width: 100vw;}
.child{ border: 20px;
        border-color:  hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 30px;
        width: 50%;
        height: 60%;
        margin-top: 60vh;
        margin-left:25vw;
        background-color: hwb(56 0% 7%);
        padding: 0;
    }
.first_row{height:30px: width:fit-content rgb(204, 167, 238);}
.second_row{background-color: antiquewhite;}
.third_row{background-color: darkseagreen;}
.slot{height: 110px; margin: 20px;}