
body{margin: 0;
        background: rgb(34,193,195);
     background: linear-gradient(0deg,
     rgba(34,193,195,1) 0%,
     rgba(253,187,45,1) 100%);
     min-height: 100vh;
     min-width: 100vw; 
}

footer{height: 120px;
        min-width: 100vw;
        margin-top: 8vh;
        bottom: 0px; 
        background-color:  rgb(32, 23, 10);
        position:static;
}

header{ font-family: 'Peralta', cursive;
        text-align: center;
        border-width: 4px;
        border-color: black;
        height:12vh;
        margin-top: 0px;
        background: rgb(34,193,195);
        background: linear-gradient(0deg,
        rgba(34,193,195,1) 0%,
        rgba(253,187,45,1) 100%)
}

#ask::after{
        content:attr(data--value);
}  
                               /* Pseudo selector for JS -- input[type="radio"]:checked  */
.radiobtn::after{
        content: attr(data--value);           /* selector for kind of btn */
}

.updiv{height: 0vw;
        align-items: center;
}

.lowdiv{
        height: 330px;
        margin-bottom:  20px;
}



.play_game{display:flex; 
        height: 30px;
        margin-top: 0vh;
        justify-content: center;
}

.parent{display: flex;
        position: relative;
        margin-top: 8vh;
        height:60vh;
        width: 100vw;
}

.child{ display: flex;
        flex-direction: row;
        border: 20px;
        border-color:  hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 30px;
        width: 70%;
        height: 60vh;
        margin-top: 0vh;
        margin-left:10vw;
        background-color: hwb(51 0% 9%);
        padding-right: 50px;
}

.leftbox{
        flex-direction: row;
}

.first_row{ background-color:  rgb(247, 113, 72);
}

.second_row{ background-color: rgb(247, 113, 72);
}

.third_row{ background-color: rgb(247, 113, 72);
}

#slot1{ height: 200px;
        position: absolute;
        margin: 20px; 
        border: 5px;
        border-color: hwb(56 0% 38%);
        border-style:ridge
}

.slot{height: 100px;
                margin: 2px; 
                border: 5px;
                border-color: hwb(56 0% 38%);
                border-style:ridge
}

.slot13{position: absolute;
        height: 170px;
        z-index: 0;
        margin-top: 30vh;
        border: 5px;
        border-color:  hwb(17 0% 38%);
        border-style:ridge;
        border-radius: 0px
}




/*------------------------------------------------Header & dialog */

#newgamebtn {
        height: 40px;
        z-index: 999;
}   

#mytext {height: 20px
        padding: 0px;
       
}

#instructions{
        font-family: 'Peralta', cursive;
        font-size: medium;
}

.play_game {
        margin-top: 0;
        height: 40px;
}

.dialog_div{
        align-content: center;
        display: flex;
        position: fixed;
        height: 60px;
}
.lets_play {
        margin-left: 20vw;
        display:inline-flex;
        margin-top: 10px;
}
#letsplay {
        font-size: large;
        margin-top: 14px;}

.info{ 

        color: rgb(37, 37, 0);
        display: inline-flex;
        margin-top: 14px;
        margin-left: 18px;
}

/*------------------------------------------------ questions & hiddencard box */


.user_question_form{
        font-family: 'Peralta', cursive;
        margin-top: -20px;
        margin-left: 5px; 
}


#hiddencard_info {
        font-family: 'Peralta', cursive;
        font-size: medium;
        margin-bottom: 0px;
}

.hiddencard_box {
        display: flex;
}

.hiddencard_info {
        background-color: rgba(96, 97, 43, 0.384);
        display: flex;
        flex-direction: column-reverse;
        width: 170px;
        height: 300px;
        padding: 5px;
}

.user_question_form label {
        font-size: small;
}

button{padding: 10px;
        align-content: space-around;
        width: 70px;
        border-radius: 5px;
        background-color: hwb(51 0% 9%);
}

aside{
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
}

.table{ margin-left: 2%;
        height: 360px;
}

.cpu_question{height: 20px;
                width: vw;
                background-color: blueviolet;
}

@media screen {
                
}