body{background: rgb(34,193,195);
     background: linear-gradient(0deg,
     rgba(34,193,195,1) 0%,
     rgba(253,187,45,1) 100%);
     min-height: 100vh;
     min-width: 100vw; 
}
footer{height: 120px;
        min-width: 100vw;
        margin-top: 8vh;
        bottom: 0px; 
        background-color:  rgb(32, 23, 10);
        position:static;
}
header{text-align: center;
        min-width: 100vw;
        height:100px;
        margin-top: 0px;
        background: rgb(34,193,195);
        background: linear-gradient(0deg,
        rgba(34,193,195,1) 0%,
        rgba(253,187,45,1) 100%)}
radio-btn::after{}  
:radiobtn{v

}                               /* Pseudo selector for JS -- input[type="radio"]:checked  */

.unseen{
        display: none;
}
.updiv{height: 0vw;
        align-items: center;
}
.lowdiv{
        height: 330px;
        margin-bottom:  20px;
}
.play_game{display:flex; 
        height: 20px;
        justify-content: center
        ;
}
.parent{display: flex;
        position: relative;
        height:60vh;
        width: 100vw;
}
.child{ 
        border: 20px;
        border-color:  hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 30px;
        width: 70%;
        height: 58vh;
        margin-top: 10vh;
        margin-left:10vw;
        background-color: hwb(51 0% 9%);
        padding: 0;
}
.first_row{background-color:  rgb(252, 213, 85);
}
.second_row{background-color: rgb(247, 113, 72);
}
.third_row{background-color: rgb(248, 187, 95);
}
.slot{height: 110px;
        margin: 20px; 
        border: 5px;
        border-color: hwb(56 0% 38%);
        border-style:ridge}
.slot13{height: 170px;
        margin-top: 10vh;
        margin-left: 10%; border: 5px;
        border-color:  hwb(17 0% 38%);
        border-style:ridge;
        border-radius: 0px}
.user_question_form{margin-left: 35%;
        margin-top: 80px;
        height: 150px;    
}
#newgame{height: 70px;
        z-index: 999;
}
button{padding: 10px;
        align-content: space-around;
        width: 70px;
        border-radius: 5px;
        background-color: hwb(51 0% 9%);
}
aside{
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
}
.table{ margin-left: 2%;
        height: 360px;
}
.cpu_question{height: 20px;
                width: vw;
                background-color: blueviolet;}
        @media screen {
                
        }