/* General */
html{
        overflow-x: hidden;
        width: fit-content;
        }
body{
        margin: 0;
        background: rgb(34,193,195);
        background: linear-gradient(0deg,
        rgba(34,193,195,1) 0%,
        rgba(253,187,45,1) 100%);
        min-height: 100vh;
        min-width: 100vw; 
}

.fade{
        filter: brightness(0.1);
        height: 100px;
        margin: 2px; 
        border: 5px;
        border-color: hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 10%;
        filter: drop-shadow(2px 4px 6px black);
        opacity: 50;
        -webkit-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
}


header{ 
        font-family: 'Peralta', cursive;
        text-align: center;
        border-width: 4px;
        border-color: black;
        height:12vh;
        margin-top: 0px;
        background: rgb(34,193,195);
        background: linear-gradient(0deg,
        rgba(34,193,195,1) 0%,
        rgba(253,187,45,1) 100%)
}

/*Text & headlines */

body > div.parent > div > div.leftbox > h2{
        font-family: 'Peralta', cursive;
        text-align: center;
        font-size:medium;
        font-weight: lighter;
}

#guess{                        /* guess button */
        margin-left: 20%; 
        background-color: rgb(209, 77, 105);
        width: 200px;
        margin: 20px;
        margin-left: 40%;
        
}
/* Buttons */
button{
        font-family: 'Peralta', cursive;
        text-align: center;
        font-size:medium;
        font-weight: lighter;
        padding: 10px;
        border-radius: 5px;
        background-color: hwb(51 0% 9%);
}

#newgamebtn{
        width: 150px;
        height: 40px;
        z-index: 999;
}


#ask::after{
        content:attr(data--value);
}  
                               /* Pseudo selector for JS -- input[type="radio"]:checked  */
.radiobtn::after{
        content: attr(data--value);           /* selector for kind of btn */
}

.updiv{
        height: 0vw;
        align-items: center;
}

.lowdiv{
        height: 330px;
        margin-bottom:  20px;
}



.play_game{
        display:flex; 
        height: 30px;
        margin-top: 0vh;
        justify-content: center;
}

.parent{
        display: flex;
        position: relative;
        margin-top: 8vh;
        height:60vh;
        width: 100vw;
}

.child{ 
        display: flex;
        flex-direction: row;
        border: 20px;
        border-color:  hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 30px;
        width: 70%;
        height: 60vh;
        margin-top: 0vh;
        margin-left:10vw;
        background-color: hwb(51 0% 9%);
        padding-right: 50px;
}

.leftbox{
        flex-direction: row;
}

.first_row{ 
        background-color:  rgb(247, 113, 72);
}

.second_row{ 
        background-color: rgb(247, 113, 72);
}

.third_row{ 
        background-color: rgb(247, 113, 72);
}

#slot1{ 
        height: 200px;
        position: absolute;
        margin: 20px; 
        border: 5px;
        border-color: hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 10%;
}

.slot{  
        height: 100px;
        margin: 2px; 
        border: 5px;
        border-color: hwb(56 0% 38%);
        border-style:ridge;
        border-radius: 10%;
        filter: drop-shadow(2px 4px 6px black);
}

.mystyle{
        filter: brightness(0.2)
      }

.slot13{
        position: absolute;
        height: 170px;
        z-index: 0;
        margin-top: 30vh;
        border: 5px;
        border-color:  hwb(17 0% 38%);
        border-style:ridge;
        border-radius: 10px;
}




/*------------------------------------------------Header & dialog */

#mytext {height: 20px;
        padding: 0px;
       
}

#instructions{
        font-family: 'Peralta', cursive;
        font-size: xx-large;
        margin-top: 50px;
}

.play_game {
        margin-top: 0;
        height: 40px;
}

.dialog_div{
        align-content: center;
        display: flex;
        position: fixed;
        height: 60px;
}
.lets_play {
        margin-left: 20vw;
        display:inline-flex;
        margin-top: 10px;
}
#letsplay {
        font-size: large;
        margin-top: 30px;
}

.info{ 

        color: rgb(37, 37, 0);
        display: inline-flex;
        margin-top: 14px;
        margin-left: 18px;
}

/*------------------------------------------------ questions & hiddencard box */


.user_question_form{
        font-family: 'Peralta', cursive;
        margin-top: -20px;
        margin-left: 5px; 
}


#hiddencard_info {
        font-family: 'Peralta', cursive;
        font-size: medium;
        margin-bottom: 0px;
}

.hiddencard_box {
        display: flex;
}

.hiddencard_info {
        background-color: rgba(96, 97, 43, 0.384);
        display: flex;
        flex-direction: column-reverse;
        width: 170px;
        height: 300px;
        padding: 5px;
}

.user_question_form label {
        font-size: small;
}

aside{
        width: 30%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
}

.table{ margin-left: 2%;
        height: 360px;
}

.cpu_question{height: 20px;
                width: vw;
                background-color: blueviolet;
}

        @media screen and (max-width: 1024px){

        }
        
        @media screen and (max-width: 1024px){
                body > div.parent > div{
                        height:max-content;
                        margin-top: 20%;
                }
                h6,
                h3{
                        font-size: medium;
                }
                .lets_play {
                        margin-left: 2vw;
                        display: inline-flex;
                        margin-top: 10px;
                        position: absolute;
                    }
                #instructions {
                        font-family: 'Peralta', cursive;
                        font-size: x-large;
                        margin-top: 93px;
                        margin-left: 10%;
                }
                    
        }
        
        
        
        
        @media screen and (max-width: 768px){
                body > div.parent > div{
                        height:max-content;
                        margin-top: 20%;
                        margin-left: 2%;
                        
                }
                .hiddencard_box {
                        display: flex;
                        flex-direction: row-reverse;
                        flex-wrap: nowrap;
                        align-content: center;
                        align-items: flex-start;
                        justify-content: center;
                    }
                    #slot1 {
                        height: 153px;
                        position: absolute;
                        margin: 20px;
                        border: 5px;
                        border-color: hwb(56 0% 38%);
                        border-style: ridge;
                        border-radius: 10%;
                        margin-top: 28px;
                    }
                    .h2, h2 {
                        font-size: calc(1.325rem + .3vw);
                    }
                    .leftbox{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        align-content: center;
                        align-items: center;
                        justify-content: flex-start;
                    }
        }

        @media screen and (max-width: 425px){
                
                body > header > div.play_game > label{
                        font-size: smaller;
                        width: 70px;
                        margin-left: 20px;
                }
                body > header > h1{
                        font-size: calc(1.375rem + 3.5vw);
                        margin-right: 121px;
                        margin-top: 10px;    
                }
                #myText{
                        margin: 0;
                        font-family: inherit;
                        font-size: inherit;
                        line-height: inherit;
                        width: 128px;
                        z-index: 999;
                }
                .parent{
                        display: flex;
                        position: relative;
                        margin-top: 27vh;
                        height: 60vh;
                        width: 100vw;
                }
                .play_game{
                        height: max-content;
                        margin-top: 20%;
                        width: 534px;
                }
                .slot{
                        height: 50px;
                        height: 104px;
                        margin: 0;
                        border: 3px;
                        border-color: hwb(56 0% 38%);
                        border-style: ridge;
                        border-radius: 10%;
                        filter: drop-shadow(2px 4px 6px black);

                }
                body > div.parent > div{ 
                        height: max-content;
                        margin-top: 20%;
                        width: 534px;
                }
                #user_question_form {
                        display: flex;
                        flex-direction: column;
                        margin: 4px;
                        flex-wrap: wrap;
                        font-size: x-small;
                }
                
                h2{
                        font-size: medium;
                }
                #user_question_form {
                        display: flex;
                        flex-direction: column;
                        margin: 4px;
                        flex-wrap: wrap;
                        font-size: x-small;
                    }
                #letsplay {
                        font-size: medium;
                        margin-top: 30px;
                        margin-left: 18px;
                    }
                #newgamebtn {
                        width: 173px;
                        height: 68px;
                        z-index: 999;
                        margin-right: 124px;
                }
                #guess {
                        margin-left: 20%;
                        background-color: rgb(209, 77, 105);
                        width: 200px;
                        margin: 20px;
                }
                #instructions {
                        font-family: 'Peralta', cursive;
                        font-size: medium;
                        margin-top: 73px;
                        margin-right: 276px;
                    }
}